

body{ 
background-image:url(fech.png);
background-repeat:no-repeat;
background-size:100%;
}



  
 
color:#fba919;;
}

a, a:link,  a:visited,  a:active, a:hove{
  color:#a4a4a4;
}

header {


background-color:#4a4a4a;
 background:rgba(0,0,0,0.4);
 color: #FFF;
padding: ,5rem;

margin:0;
}

nav {
 background-color:#fba919;
 background:rgba(0,0,0,0.4);
border-radius:25px;

}


section {
   background-color:#1111
 
}



body {
background-image:url(autocad1.png);
background-repeat:no-repeat;
background-size:100%;
font-size:1.2rem;
line-height:4em;

font-family: georgia,times,serif ;
color :#444;
font-size:1.2rem;
line-height:1.6em;
margin:0;
}

h2{
  font-size:9rem;
  line-height:1em;
 
}


h3{
  font-size:3rem;
  line-height:2em;
}


p {
margin-bottom:1.6em;

}

.container {
 width:85%;
 max-width:850px;
 margin: 0 auto
}

.header {
 background:rgba(0,0,0,0.0);
 color: #FFF;
 padding: 1.8rem 0;
position:fixed;
left:0;
top:0;
right: 0;

}
.header a {
 color: white;
 text-decoration: none;
}

.DALUGG-nav-container{
 display: flex;
 justify-content: space-between;
  align-items: center;
   flex-wrap:wrap;
}
.DALUGG{
letter-spacing:20px;
font-size:1.3em;
}
s
.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.navigation ul li {
display:inline-block;
}
.navigation ul li a {
display: block;
padding: 0.5rem 1rem;
transition: all 0.4s linear;
border-radius: 5px;
}

.navigation ul li a:hover {
background:#4a4a4a;
}
.main{
padding-top:12rem;
}
.footer{
background-color: black;
background:rgba(0,0,0,0.4);	
	
backgraund:#f2f2f2;
padding:4rem 0;
text-align:center;
margin-top 6rem;
}

@media only screen and (max-width:767px){
.navigation{
 width:100%;
 margin-top=1rem;
 
}
.menu-icon{
	display:block;
	cursor:pointer;	
}

.navigation{
	width:100%;
	margin-top;1rem;
}


.navigation ul {
	display:none;
}

	.navigation ul. show{
display:block;

.navigation ul li {
display:block;
}

.navigation ul li a {
display: block;
padding: 0.5rem 0;
transition: all 0.4s linear;
border-radius: 5px;
}

.navigation ul li a:hover {
background:#4a4a4a;
}

section {
   background-color:#FBA91;

margin:0rem;

}

section{ 



#main-section {
margin-left:0
width:79%;
max-wiidth:1200px;
}


*{
margin:0px;
padding:0px;
}



.footer{
background:#333;
color:#fff;
padding:100px;
text-aling:center;
}
