
{
font-family:georgia,times,serif;
line-height:1.4;
}
header{
background:#4a4a4a;
padding:1em;
}
h4{
display:inline;
}
a{
font-size:20px;
font-weight:bold;
color:rgba(0,0,0,0.6);
text-decoration:none;
padding:0.3em 0.5em;
border-radius:5px;
background-color:rgba(255,255,255,0.6);
transition:background-color 1s linear;
}
form{
display:inline;
margin-left:auto;
padding-left:2em;
width:100%;
}
label{
font-size:24px;
}
input{
padding:0.7em 1em;
cursor:pointer;
}
input,button{
font-size:16px;
color:#000;
border-radius:5px;
backgroun-color:rgba(255,255,255,0.3);

body{
font-family: georgia,times,serif ;
color :#333;
font-size:1.2rem;
line-height:1.6em;
margin:0;
}

h1{
  font-size:.2rem;
  line-height:28em;
 
}

h2{
  font-size:2rem;
  line-height:2em;
 color :#333;
}

h3{
  font-size:1.7rem;
  line-height:2em;
 color :#333;
}

p {
margin-bottom:1.6em;

}

.container {
 width:85%;
 max-width:850px;
 margin: 0 auto
}

.header {
 background:rgba(0,0,0,0.4);
 color: #FFF;
 padding: 1.8rem 0;
position:fixed;
left:0;
top:0;
right: 0;
}
.header a {
 color: white;
 text-decoration: none;
}

.DALUGG-nav-container{
 display: flex;
 justify-content: space-between;
  align-items: center;
   flex-wrap:wrap;
}
.DALUGG{
letter-spacing:20px;
font-size:1.3em;
}
s
.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.navigation ul li {
display:inline-block;
}
.navigation ul li a {
display: block;
padding: 0.5rem 1rem;
transition: all 0.4s linear;
border-radius: 5px;
}

.navigation ul li a:hover {
background:#4a4a4a;
}
.main{
padding-top:12rem;
}
footer{
backgraund:#f2f2f2;
padding:4rem 0;
text-align:center;
margin-top 6rem;
}

@media only screen and (max-width:767px){
.navigation{
 width:100%;
 margin-top=1rem;
}

.navigation ul li {
display:block;
}

.navigation ul li a {
display: block;
padding: 0.5rem 0;
transition: all 0.4s linear;
border-radius: 5px;
}


.navigation ul li a:hover {
background:#4a4a4a;

color:#000000;
padding:10px;
text-aling:center;


}






 color:#000000;{
}

footer{
backgraund:#f2f2f2;
padding:4rem 0;
text-align:center;
margin-top 6rem;
}
